# Core functionality - changes here should be rare!
/src/app.py                   @MKisaka
/src/backend/database.py      @MKisaka
/src/backend/routers/auth.py  @MKisaka

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MKisaka
